*{
    text-align: center;
    margin: 0;
    
    

}
.barra{
    background-color: cyan;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;

}
#bosque{
    background-color: aliceblue;
}
#posada{
    background-color: aliceblue;
}
#informacion{
    background-color: aliceblue;
}
#tienda{
    background-color: aliceblue;
}