* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000078;
}

header {
    position: fixed;
    width: 100%;
    background-color: #F0F0F0;
    z-index: 1;
    margin-bottom: 50px;
}

nav {
    margin-left: 150px;
    margin-right: 150px;
    
}
nav ul {
    float: right;
    list-style: none;
    text-align: center;
    vertical-align: top;
    margin-top: 25px;

}

nav li {
    list-style-type: none;
    display: inline;
    font-weight: 600;
}
nav a{
    list-style-type: none;
    text-decoration: none;
    color:  #000078;
    padding-left: 20px;
    font-size: 24px;
}
nav img{
    width: 300px;
    height: 80px;
}
.selected{
    text-decoration: underline #FFE000 2px;
}

#inicio{
    display: flex;
        margin-left: 20%;
        margin-right: 20%;
}
#titular{
    width: 500px;
    height: 300px;;
}
#titular h1{
    font-size: 52px;
    margin-bottom: 30px;
}
#titular p{
    font-size: 24px;
    margin-bottom: 30px;

}
#titular button{
    background-color: #FFE000;
    width: 180px;
    height: 60px;
    border-radius: 8px;
    border: 0;
    margin-bottom: 30px;

}
#cifras{
    display: flex;
    background-color: #D0D0D0;

}
#titulos1{
    text-align: center;
}
#titulos1 h2{
    padding-top: 50px;
    background-color: #D0D0D0;
    font-size: 36px;
}
#titulos2{
    text-align: center;
}
#titulos2 h2{
    padding-top: 50px;
    font-size: 36px;
}
.numeros{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}
.apartadoCifras{
    margin-top: 50px;
    margin-left: 18%;
    font-weight: 600;
    font-size: 20;
    padding-bottom: 50px;

}
#objetivos{
    text-align: center;

}
.objetivo-x{
    margin-top: 50px;
    border-bottom: solid 1px #D0D0D0;
    border-right: solid 1px #D0D0D0;
    width: 1200px;
    height: 80px;
    margin-left: 20%;
    margin-bottom: 50px;

}
footer{
    border-top: 3px solid #73EDFF;
    background-color: #D0D0D0;
    height: 150px;
    text-align: center;
}
footer p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;

}
#enviosArticle{
    text-align: center;
    border-bottom: 2px solid 000078;

}
#enviosArticle h1{
    margin-top: 80px;
    font-size: 52px;
    margin-bottom: 80px;

}
#enviosArticle table,
#enviosArticle tr{
    border-collapse: collapse;
    border: 2px solid #000078;
    width: 900px;
    margin-left: 25%;
    margin-bottom: 120px;
}
#enviosArticle table tr:nth-child(odd){
    background-color: #D0D0D0;
}

#enviosArticle tr{
    height: 60px;
}

#publicar{
    text-align: center;
    border-bottom: 2px solid 000078;

}

#formulario{
    border-bottom: 2px solid 000078;
    margin-left: 10%;
    margin-right: 50%;

}
#formulario h1{
    margin-top: 80px;
    font-size: 52px;
    margin-bottom: 80px;

}
#formulario form{
    margin-bottom: 50px;
}