*{
    margin-right: 5%;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-justify: inter-word;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    height:600px; 
}
.imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 50%;
}
.logo{
    background-color: #000;
    color: White;
    margin-right: 0%;
    margin-left: 0%;
}
.menu{
    text-align: center;
    border-bottom: 3px solid lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.selected{
    text-decoration: underline red 3px;
    display: inline-block;
    ;

}
.unselected{
    display: inline-block;
    color: black;
    text-decoration:none;
}
.titulo{
    font-family: Arial, Helvetica, sans-serif;
}
.resumen{
    border-bottom: 3px solid lightgray;
    border-top: 3px solid lightgray;
    margin-right: 8%;
    margin-left: 8%;
}
.link{
    color:red;
}
.info{
    text-align: center;
    font-style: italic;
    font-size: smaller;
}
.retrato{
    border-radius: 50%;
    width: 130%;
    height: 130%;
    margin-right: 8%;
    margin-left: 8%;
    display: inline-block;

}
