header h1, header img, section{
    margin-right: 7%;
    margin-left: 7%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    height:600px; 
}
footer{
    
    background-color: rgb(55, 56, 56);
}
footer li{
    color: white;
    list-style-type: none;
    text-decoration: none;
}

nav{
    text-align: center;
    border-bottom: 3px solid lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 70px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: white;
    
}
nav li,a, section li,a{
    color: black;
    text-decoration:none;
    display: inline;
    list-style-type: none;
    text-decoration: none;
    margin-right: 20px;

}
nav a:hover{
    text-decoration: underline red;
}
.imagen{
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 50%;
}
.logo{
    background-color: #000;
    color: White;

}
.selected{
    text-decoration: underline red 3px;
    display: inline-block;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
}
.resumen{
    border-bottom: 3px solid lightgray;
    border-top: 3px solid lightgray;
    margin-right: 8%;
    margin-left: 8%;
}
.link{
    color:red;
}
.info{
    text-align: center;
    font-style: italic;
    font-size: smaller;
}
.retrato{
    border-radius: 50%;
    width: 90%;
    height: 90%;
    display: inline-block;

}
.autor{
    margin-left: 10%;
    margin-right: 10%;
}
